body{
background-color: #444444
}



h1 {
  font-size: 200px;
 margin-top: 1380px;
 margin-left: 0px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;
}
p{
 margin-top: 1200px;
font-size: 200px;
font-family:"M PLUS Rounded 1c";
 color: #E1E3E5;
}

#right{
 margin-top: 1300px;
 margin-left: -360px;
font-size: 19px;
font-family:"M PLUS Rounded 1c";
 color: #E1E3E5;

padding: 1rem 2rem;
  border-left: 4px solid #E1E3E5;
}

