body{
background-color: #444444
}



h1 {
  font-size: 170px;
 margin-top: 80px;
 margin-left: 90px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;
}
#right{
 margin-top:-245px;
 margin-left: 975px;
font-size: 27px;
font-family: "M PLUS Rounded 1c";
 color: #E1E3E5;

padding: 1rem 2rem;
  border-left: 4px solid #E1E3E5;
}

#right span{
 margin-top: -250px;
font-size: 19px;
font-family: "M PLUS Rounded 1c";
 color: #E1E3E5;
}



#rezi{
 margin-top:85px;
z-index: -10;position:relative;

}




.img_container{
  margin-top:-275px;
 margin-left:-180px;

 z-index: -1;position:relative;
}

img{
  cursor: pointer;
}

.img_container:hover img{
  transform: rotateY(360deg);
  transition: transform .5s;
}





#keki{
 margin-top:-510px;
 margin-left:1000px;

z-index: -10;position:relative;
}



#tendon{
 margin-top:40px;
 margin-left:-20px;

z-index: -10;position:relative;
}

#kao{
 margin-top:-300px;
 margin-left:700px;

 z-index: -1;position:relative;
}

#syoto{
 margin-top:-330px;
 margin-left:1100px;

z-index: -10;position:relative;
}
#me{
 margin-top:-155px;
 margin-left:1000px;

z-index: -10;position:relative;
}


h2 {

 font-size: 40px;
 margin-top: -450px;


  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 1.2;
 color: #E1E3E5;

 text-align: center;
}
h2 span.pvp {

 font-size: 25px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;
}
#taisyuu {
margin-top: 30px;
 text-align: center;
font-size: 22px;
font-family:"M PLUS Rounded 1c";
 color: #E1E3E5;

}

#kuuhaku {
margin-top: -240px;
}

h3 {

 font-size: 50px;
 margin-top: 410px;


  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 1.2;
 color: #E1E3E5;

 text-align: center;
}







.cp_accordionslide07 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	visibility: hidden;
	width: 100%;
	height: 80vh;

z-index: -1;position:relative;
}
.cp_accordionslide07 .slideitem {
	position: relative;
	visibility: visible;
	overflow: hidden;
	width: 20%;
	height: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
	-webkit-transition-timing-function: linear;
	        transition-timing-function: linear;
	-webkit-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-property: all;
	        transition-property: all;
	color: #ffffff;
}
.cp_accordionslide07 .slideitem:nth-child(1) {
	background-image:url("image/rin.jpg");
}
.cp_accordionslide07 .slideitem:nth-child(2) {
	background-image:url("image/nsome.jpg");
}
.cp_accordionslide07 .slideitem:nth-child(3) {
	background-image:url("image/tarako.jpg");
}
.cp_accordionslide07 .slideitem:nth-child(4) {
	background-image:url("image/combex.jpg");
}
.cp_accordionslide07 .slideitem:nth-child(5) {
	background-image:url("image/kanegon.jpg");
}
.cp_accordionslide07 .slideitem:after {
	
	z-index: -1;position:relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
}
.cp_accordionslide07:hover .slideitem:hover {
	width: 60%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.cp_accordionslide07 .slideitem .slidecont {
	position: absolute;
	z-index: 4;
	top: 0px;
	left: 30px;
	visibility: hidden;
	max-width: 400px;
	padding: 20px;
	-webkit-transition: opacity 0.2s ease 0;
	        transition: opacity 0.2s ease 0;
	opacity: 0;
}
.cp_accordionslide07 .slideitem:hover .slidecont {
	-webkit-transition: opacity 0.3s ease 0.3s;
	        transition: opacity 0.3s ease 0.3s;
	opacity: 1;
}
.cp_accordionslide07 .slideitem h2 {
	font-size: 1.2em;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin: 0;
	padding: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	white-space: nowrap;
}

.cp_accordionslide07:hover .slideitem:hover .slidecont {
	visibility: visible;
}
@media only screen and (max-width:768px) {
	.cp_accordionslide07 .slideitem .slidecont {
		position: relative;
		right: 0px;
		left: 0px;
		visibility: visible;
		opacity: 1;
		min-height: 75vh;
	}
	.cp_accordionslide07 .slideitem .slidecont .text {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.3s ease 0.3s;
		        transition: opacity 0.3s ease 0.3s;
	}
	.cp_accordionslide07 .slideitem:hover .slidecont .text {
		visibility: visible;
		opacity: 1;
		margin-top: 40px;
	}
	.cp_accordionslide07 .slideitem h2 {
		visibility:hidden;
	}
	.cp_accordionslide07 .slideitem:hover  h2 {
		visibility: visible;
		top: 20px;
		left: 65px;
	}
	.cp_accordionslide07 .slideitem .slidecont::before {
		position: absolute;
		font-size: 1.2em;
		font-weight: bold;
		display: block;
		text-align: center;
		top: 50%;
		left: 25%;
		width: 12em;
		content: attr(title);
		-webkit-transform: rotate(-90deg) translateX(-50%);
		transform: rotate(-90deg) translateX(-50%);
		-webkit-transform-origin: 0 0 0;
		transform-origin: 0 0 0;
		visibility: visible;
		opacity: 1;
	}
	.cp_accordionslide07 .slideitem:hover .slidecont::before {
		visibility:hidden;
		opacity: 0;
	}
}

    