body{
background-color: #444444
}



h1 {

  font-size: 200px;
 margin-top: 80px;
 margin-left: 120px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;
}

#right{

 margin-top:-290px;
 margin-left: 730px;
font-size: 27px;
font-family:"M PLUS Rounded 1c";
 color: #E1E3E5;

padding: 1rem 2rem;
  border-left: 4px solid #E1E3E5;

}

#right span.click{

 margin-top: -250px;
font-size: 19px;
font-family: "M PLUS Rounded 1c";
 color: #E1E3E5;

}

h2 {

 font-size: 100px;
 margin-top: 110px;


  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;

 text-align: center;
}
h2 span.pvp {

 font-size: 45px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
line-height: 0.8;
 color: #E1E3E5;
}
#taisyuu {
margin-top: -80px;
 text-align: center;
font-size: 19px;
font-family: "M PLUS Rounded 1c";
 color: #E1E3E5;

}

#kuuhaku {
margin-top: -240px;
}